img {
  max-width: 100%;
}

.lang {
  display: inline-block;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  width: 5em;
  line-height: 1.5em;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #aaa;
  background-color: transparent;
  background-image: none;
  border-color: #aaa;
  font-size: .7em;
  cursor: pointer
}

.lang:hover {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
}

.lang:disabled {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
  cursor: default;
}

.avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: #fff 4px solid;
  margin: -2.5em auto;
  right: 0;
  left: 0;
  position: absolute;
}

h2.excerpt-title {
  line-height: 1.3em;
}

h1.entry-title {
  font-size: 4em;
  margin-top: .5em;
  margin-bottom: .2em;
  line-height: 1em;
}

.post table {
  display: inline-block;
  width: auto;
  max-width: 100%;
  overflow-x: auto;
  margin: 0.5em 0 0.5em 0;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  background: radial-gradient(
        ellipse at left,
        rgba(0, 0, 0, 0.2) 0,
        transparent 75%
      )
      0,
    radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0, transparent 75%)
      100%;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

.post table td:first-child {
  background-image: linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0));
  background-size: 20px 100%;
  background-repeat: no-repeat;
}

.post table td:last-child {
  background-image: linear-gradient(270deg, #fff 50%, hsla(0, 0%, 100%, 0));
  background-size: 20px 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.post table th,
.post table td {
  padding: 6px 12px;
  border: 1px solid #e3ecf3;
}

.post table th {
  font-size: 0.8em;
}
