<h1 class="screen-reader-text">Posts</h1>

<div id="loop-container" class="loop-container">
	{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
	{{ range $index, $element := .Paginator.Pages }}
	{{ if and (isset .Params "image") .Params.image }}
	{{ if eq (mod $index 2) 0 }}
	<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured odd excerpt">
		{{ else }}
		<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
			{{ end }}
			{{ else }}

			<div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured odd excerpt">

				{{ end }}

				{{ if and (isset .Params "image") .Params.image }}
				<a class="featured-image-link" href="{{ .Permalink }}"><div class='featured-image lazy lazy-bg-image'   data-background="{{ .Params.image | absURL }}"></div></a>

				{{ end }}
				<div class="excerpt-container">
					<div class="excerpt-meta">
						<span class="date">{{ .Date.Format "02 January 2006" }}</span>
						{{ range $index, $name := .Params.categories }}
						<span> / </span>
						<span class="category">
							<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
						</span>
						{{ end }}
					</div>
					<div class='excerpt-header'>
						<h2 class='excerpt-title'>
							<a href="{{ .Permalink }} "> {{ .Title }} </a>
						</h2>
						
						{{ range .Translations }}
							{{ if eq .Lang "en" }}
							<a href="{{ .Permalink }}"><button class="lang">ENG</button></a>
							{{ end }}
							{{ if eq .Lang "cn" }}
							<a href="{{ .Permalink }}"><button class="lang">中文</button></a>
							{{ end }}
						{{ end }}
							
					</div>
					<div class='excerpt-content'>
						<article>
							{{ .Summary }}

							<div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Read the post<span class="screen-reader-text">This is a Standard Post</span></a></div>
						</article>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
